.card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.main-container{
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}